* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    width: 100%;
    background-image: url('./imagenes/fondo-pianos.png');    
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.contenedor-principal {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.contenedor-principal section {
    display: flex;
}
div{
    display: flex;
}
button{
    width: 60px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 20px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    margin: -1px;
    padding: 10px;
    z-index: 1;
}
button:nth-child(2n + 2){
    background-color: black;
    color: white;
    width: 45px;
    height: 238px;
    margin-left: -20px;
    margin-right: -24px;
    z-index: 2;
}
button:hover{
    background-color: red;
}
button:active{
    background-color: blue;
}
button:nth-child(2n + 2):hover{
    background-color: aqua;
}
button:nth-child(2n + 2):active{
    background-color: chartreuse;
}


