p::after{
    content: "😘";
}
p:hover::after{
    content: "🥊";
}
a:visited {
    color:green;
}
p:nth-child(1){
    color: blue;
}
p::first-letter{
    color: red;
}
button{
    background-color: green;
}
button:active{
    background-color: yellow;
}
#opciones:hover{
    color: red;
}

.container{
    display:flex;
    background: red;
    justify-content:center;
    height: 200px;
    align-items: center;
    flex-direction: column;
}
.item{
    background: blue;
    width: 30px;
    height: 30px;
}
.container .item:nth-child(2n + 1){
    background: green;
}

.new-container{
    background: yellow;
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}
.new-item{
    background: blue;
}
.new-container .new-item:nth-child(1){
    grid-column: 1 / 2;
}
.new-container .new-item:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.new-container .new-item:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.new-container .new-item:nth-child(4){
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
.contenedor-caja{
    display: flex;
    flex-direction: column;
}
.modelo-caja{   
   width: 200px; 
   height: 200px;
   background: purple;
   padding: 20px;
   box-sizing: border-box;
   border-top: 5px solid black;
   border-bottom: 5px solid blue;
   border-left: 5px solid red;
   border-right: 5px solid greenyellow;
   margin: 20px;
}
.modelo-caja1{   
    width: 200px; 
    height: 200px;
    background: purple;
    padding: 20px;
    box-sizing: border-box;
    border-top: 5px solid black;
    border-bottom: 5px solid blue;
    border-left: 5px solid red;
    border-right: 5px solid greenyellow;
    margin: 20px;
 }
 nav{
    background:blue;
    width: 300px;
    height: 60px;   
    top: 0px;   
    position: fixed;
 }
.contenedor2{
background: red;
width: 200px;
height: 200px;
position: relative;
}
.item2{
background: yellowgreen;
width: 20px;
height: 20px;
position: absolute;
bottom: 90px;
right: 90px;

}
ul p {
    position: sticky;
    top: 0px;
}
.master {
    position: absolute;
    background: green;
    z-index: 4;
}
.platzi {
    position: absolute;
    background: green;
    z-index: 5;
}
.red{
    position: absolute;
    background: red;
    z-index: 5;
    width: 30px;
    height: 30px;    
}
.blue{
    position: absolute;
    background: blue;
    z-index: 4;
    width: 30px;
    height: 30px; 
}
.yellow{
    position: absolute;
    background: yellow;
    z-index: 6;
    width: 30px;
    height: 30px;
}