*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-image: url(https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.contenedor-principal {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.contenedor-principal section {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
div{
    display: flex;
}
button{
    width: 65px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 20px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border: 2px solido black;
    margin: -1px;
    padding: 10px;
    z-index: 1;
}
button:nth-child(2n + 2){
    background-color: black;
    color: white;
    width: 50px;
    height: 250px;
    margin-left: -25px;
    margin-right: -25px;
    z-index: 2;
}
button:hover{
    background-color: red;
}
button:active{
    background-color: blue;
}
button:nth-child(2n + 2):hover{
    background-color: aqua;
}
button:nth-child(2n + 2):active{
    background-color: chartreuse;
}
@media (max-width: 1365px) {
    .contenedor-principal {
        flex-wrap: wrap;
    }
    .contenedor-principal section {
        margin-top: 12%;
    }
}
@media (max-width: 910px) {
    .contenedor-principal {
        flex-wrap:nowrap;
        transform: rotate(90deg);
        position: absolute;
        bottom: 146px;
        left: 90px;
    } 
    .contenedor-principal section {
        display: flex;
        margin-top: 34%;
    }
    button{
        width: 50px;         
        font-size: 18px;       
    }
    button:nth-child(2n + 2){        
        width: 48px;
        height: 216px;
    }
}

